.container {
  grid-area: timeline;
  background: var(--timeline-background-color);
  padding: 0px 0px 0px 0px;
  overflow: auto;
}

.tracks {
  position: relative;
  min-height: 100%;
}

.timebar {
  width: 100%;
  display: flex;
}

.time {
  color: var(--font-color);
  font-size: 14px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.indicator {
  background: #ff0000;
  width: 1px;
  height: 100%;
  margin: auto;
}

.pointer {
  position: absolute;
  z-index: 4;
  background: red;
  left: 0;
  top: 0;
  bottom: 0;
}

.track {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid var(--font-color);
  align-items: center;
  background: var(--timeline-background-color);
}

.card {
  border-radius: 2px;
  transition: box-shadow 0.25s, border-color 0.25s;
}

.fullCard {
  display: inline-block;
  width: auto;
  height: auto;
}

.keyframeCard {
  width: 100%;
  background: #202020;
  border-radius: 2px;
  height: 20px;
}

.keyframeBtn,
.keyframeBtn:hover {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 0px;
  margin-left: -2.55px;
  margin-top: 7px;
  padding: 0px;
  transition: 0s;
  position: absolute;
}

.ruler {
  height: 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  align-items: baseline;
}

.s10 {
  text-align: center;
  position: relative;
  padding-top: 10px;
}

.sec {
  border-right: 1px solid #383838;
  top: 0;
  height: 6px;
  position: absolute;
}

.sec:nth-of-type(1) {
  left: 20%;
}

.sec:nth-of-type(2) {
  left: 40%;
}

.sec:nth-of-type(3) {
  left: 60%;
}

.sec:nth-of-type(4) {
  left: 80%;
}

.sec:nth-of-type(5) {
  height: 14px;
  right: 0px;
}

.rulerCon {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.move {
  cursor: move !important;
}
