.container {
  grid-area: elements;
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  padding-left: 0;
  margin-right: 10px;
  gap: 10px;
}

.pos {
  color: white;
}
.keyframePrev span, .keyframeNext span {color:rgb(102, 102, 102);font-size:18px;}
.keyframeBtn span {color:rgb(102, 102, 102);font-size:10px;margin-top:0px;}
.keyframePrev {width:12px;height:16px;background:transparent;border-radius:0px;margin:0px 6px;padding:0px;text-align: center;float:right;}
.keyframeNext {width:12px;height:16px;background:transparent;border-radius:0px;padding:0px;text-align: center;float:right;}
.keyframeBtn {width:10px;height:16px;background:transparent;border-radius:0px;padding:0px;text-align: center;float:right;margin-top:1px;}

.tags{
  color: white;
  font-size: 15px;
  margin-right: 7px;
}

.inputTag {
  width: 45px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    padding-left: var(--spacing);
  }
}
