.container {
  grid-area: elements;
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  padding-left: 0;
  margin-right: 10px;
  gap: 10px;
}

.pos {
  color: white;
}

.tags{
  color: white;
  font-size: 15px;
  margin-right: 7px;
}

.inputTag {
  width: 45px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    padding-left: var(--spacing);
  }
}
