.body {
  display: flex;
  flex-flow: row wrap;
  flex: 8;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.body > * {
  flex: 1 100%;
  transition: all 0.3s;
}

.MediaPool {
  background: #070707;
  height: calc(100vh);
  order: 1;
  flex: 2;
  overflow: auto;
  padding: 15px 25px;
}

.MediaPool button {
  border: 1px dashed #464646;
  margin-bottom: 40px;
  bottom: 0px;
  background: #07070771;
  border-radius: 10px;
  padding: 30px 50px;
  display: block;
  width: 100%;
  color: #464646;
  font-size: 16px;
  cursor: pointer;
}

#buttons {
  background: #070707;
}

h2 {
  color: #636363;
  font-weight: 500;
}

.App {
  order: 2;
  flex: 7;
}

.VideoPlayer {
  background: #030303;
  height: calc(100vh - 250px);
}

.VideoTimeline {
  align-self: flex-end;
  background: #0c0c0c;
  height: 250px;
  overflow: auto;
}

.video,
.image {
  background-color: #101010;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: calc(100% - 20px);
}

.video video,
.image img {
  border-radius: 10px;
}

.video small,
.image small {
  color: #636363;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000000;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border-radius: 10px;
  transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
  transition: all 0.3s;
}


.button {
  border: 1px solid #a2a2a2;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  -webkit-text-stroke: 1px #a2a2a2;
  color: black;
  /* background-color: #1c1c1c; */
  text-align: center;
  font-size: 32px;
  padding: 20px;
  margin: 10px;
}

.button p {
  margin: auto;
}