* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  transition: 0s;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  --spacing: 15px;
  --border-radius: 5px;
  --timeline-background-color: #0c0c0c;
  --media-pool-background-color: #030303;
  --media-pool-card-background-color: #0c0c0c;
  --media-player-background-color: #181818;
  --font-color: #838383;
  --background-color: #050505;
  --icon-background-color: #101010;
  --icon-color: #838383;
  --icon-background-hover-color: #030303;
  --scrollbar-color: #838383;
  overflow-x: hidden;
}

button {
  height: 50px;
  width: 50px;
  background: var(--icon-background-color);
  border-radius: 100%;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

button:hover {
  background: var(--icon-background-hover-color);
  transition: 1s;
}

::-webkit-scrollbar-corner {
  background: var(--timeline-background-color);
}

::-webkit-scrollbar {
  width: 30px;
  height: 30px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 15px 15px var(--scrollbar-color);
  border: solid 10px transparent;
  border-radius: 100px;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  color: var(--font-color);
}

.draggedOn {
  outline: 2px dashed #313131;
  outline-offset: -10px;
  transition: 0s;
}

ul li {
  transition: 0s;
}
