.container {
  display: grid;

  grid-template-areas:
    "mediaPool mediaPlayer elements elements actions"
    "mediaPool controls controls controls controls"
    "mediaPool timeline timeline timeline timeline";

  grid-template-columns: 300px minmax(0, 1fr) min-content;
  grid-template-rows: minmax(0, 1fr) min-content 300px;

  height: 100vh;
}

@media (max-width: 1100px) {
  .container {
    grid-template-areas:
      "mediaPool"
      "elements"
      "actions"
      "mediaPlayer"
      "controls"
      "timeline";

    grid-template-columns: 1fr;
    grid-template-rows:
      min-content
      min-content
      min-content
      min-content
      min-content;
    height: auto;
  }
}
