.container {
    color: var(--font-color);
    background-color: var(--timeline-background-color);
    min-height:100vh;
    width:100vw;
  }

.logo {
    background: var(--media-pool-background-color);
    border-radius:200px;
    padding:15px;
    max-width: 60px;
    margin-bottom:30px;
}

.button{
    background: var(--media-pool-background-color);
    border-radius:25px;
    padding:25px 10px;
    color: var(--font-color);
    display:flex;
    width:100%;
    align-items: center;
}

.loginBox{width:calc(100% - 60px);display:block;max-width:360px;padding:30px;margin:auto;}

.loginBox a{display:block;text-align:center;}

.google{
    width:30px;margin-right:10px;
}
  
  @media (min-width: 1100px) {
    .container {
        display:grid;
        grid-template-columns: 1fr 1fr;
        background-image: url('./img/background.png');
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
      }
    .login{
        display:flex;
        align-items: center;
    }
  }

